---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const identity = {
    "name" : "Massimiliano",
    "surname" : "Lambertini",
    "country" : "Italy",
    "occupation" : "DBA, Developer",
    "hobbies" : ["Lego","Tabletop Roleplaying"],
    "political" : "socialdemocrat"
}

const skillz = ["C#","SQL","C++","Perl","HTML","Css"]

const skillColor= "#C00001"
const skillSize="3.1rem"

---
        <style define:vars={{skillColor, skillSize}}>
            h1 {
              color: purple;
              font-size: 4rem;
            }
            .skill {
            color: var(--skillColor);
            font-size: var(--skillSize);
            font-weight: bold;
            }            
            .hobbiez {
            color: chocolate;
            font-weight: bold;
            }            
          </style>        
<BaseLayout pageTitle={pageTitle}>
<h3>Some facts...</h3>
        <ul>
            <li>Full name is {identity.name} {identity.surname} </li>
            <li>I live in {identity.country}</li>
            <li>I work as {identity.occupation}</li>
            <li>Hobbies are:
                <ul>
                    {identity.hobbies.map( (h) => <li class="hobbiez">{h}</li>)}
                </ul>
            </li>
            <li>Skillz are:
            <ul>
                {skillz.map( (h) => <li class="skill">{h}</li>)}
            </ul>
            </li>
            <li>And I might be called a... { identity.political==="socialdemocrat" ? "Comrade" : "Dirty Reactionary Pig"}</li>
        </ul>
    </BaseLayout>