---
import '../styles/global.css'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "About Me";

const identity = {
    "name" : "Massimiliano",
    "surname" : "Lambertini",
    "country" : "Italy",
    "occupation" : "DBA, Developer",
    "hobbies" : ["Lego","Tabletop Roleplaying"],
    "political" : "socialdemocrat"
}

const skillz = ["C#","SQL","C++","Perl","HTML","Css"]

const skillColor= "#C00001"
const skillSize="3.1rem"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>El Lamboz -- {pageTitle}</title>
        <style define:vars={{skillColor, skillSize}}>
            h1 {
              color: purple;
              font-size: 4rem;
            }
            .skill {
            color: var(--skillColor);
            font-size: var(--skillSize);
            font-weight: bold;
            }            
            .hobbiez {
            color: chocolate;
            font-weight: bold;
            }            
          </style>        
	</head>
	<body>
        <Header />


		<h1>{pageTitle}</h1>
        <h2>A Reluctant Great Old One</h2>

        <h3>Some facts...</h3>
        <ul>
            <li>Full name is {identity.name} {identity.surname} </li>
            <li>I live in {identity.country}</li>
            <li>I work as {identity.occupation}</li>
            <li>Hobbies are:
                <ul>
                    {identity.hobbies.map( (h) => <li class="hobbiez">{h}</li>)}
                </ul>
            </li>
            <li>Skillz are:
            <ul>
                {skillz.map( (h) => <li class="skill">{h}</li>)}
            </ul>
            </li>
            <li>And I might be called a... { identity.political==="socialdemocrat" ? "Comrade" : "Dirty Reactionary Pig"}</li>
        </ul>
        <Footer />
		<script>
			import "../scripts/menu.js"
		</script>
	</body>
</html>
